.content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.content div {
  height: 100vh;
  scroll-snap-align: start;
}
.one {
  background-color: green;
}
.two {
  background-color: red;
}
.three {
  background-color: blue;
}
