body * {
  transition: all 2s ease;
    
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  /* transition: all 2s; */
  -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;

  max-height: 1000px;
}
nav.hidden {
  overflow: hidden;
  max-height: 0;
  transition: all 2s;
  
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  max-width: none;
}
.container .content {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content figure{
  height: 100%;
  position: absolute;
  z-index: -1;
  /* filter: blur(2px) brightness(50%); */
  filter: brightness(50%);
}

.one figure {
  filter: blur(2px) brightness(50%);
  
}

.content figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}